.env
**/chrome-profile*/
*.json
*.txt
!requirements.txt


/venv
/logs
/*.idea

**/__pycache__/
app/__pycache__/
app/api/__pycache__/
app/ms_telegram_bot/__pycache__/
app/classes/__pycache__/
app/conn/__pycache__/
app/models/__pycache__/